:host {
  /* taken from uvalib-components/uvalib-theme, find a better way to package style/theme */
  --uvalib-grey-700: #616161;
  --color-primary-blue: #002F6C;
  --color-light-blue: #9FB2CE;
  --uvalib-secondary-web-blue: #141E3C;
  --uvalib-main-rotunda-orange: #E57200;
  --uvalib-orange-700: var(--uvalib-main-rotunda-orange);
  --color-text-gray: var(--uvalib-grey-700);
  --color-primary-orange: var(--uvalib-orange-700);
  --uvalib-secondary-blue: var(--uvalib-secondary-web-blue);
  --uvalib-white: #FFF;
  --color-white: var(--uvalib-white);
  --font-primary: 'franklin-gothic-urw',arial,sans-serif;
  --font-weight-medium: 500;
  --font-weight-book: 400;

  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: var(--color-primary-blue);
  color: var(--color-light-blue);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);

  /* @apply --layout-vertical; */
  display: flex;
  flex-direction: column;

  /* @apply --layout-center; */
  align-items: center;

  text-align: left;
}

#top {
  /* @apply --layout-flex; */
  flex: 1;
  flex-basis: auto;

  width: 95%;
  max-width: 1200px;
}

.copyright {
  text-align:  center;
  font-size: 14px;
  padding-top: 20px;
  background-color: var(--color-white);
  color: var(--color-text-gray);
  padding: 10px !important;
  border-radius: 3px;
}

a {
  color: var(--color-light-blue);
  margin-bottom: 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 0;
  padding-bottom: 8px;
  font-size: 1.1em;
  color: var(--color-light-blue);
}

h3 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-book);
  text-transform: none;
  color: var(--color-white);
  margin-bottom: 25px;
  font-style: normal;
  font-size: 18px;
  margin-top: 0;
}

#give-button {
  margin-top: .5em;
  margin-bottom: 1em;
  margin-left: 0;
  border: none;
}

mwc-button {
  background: var(--color-primary-orange);
  --mdc-theme-primary: var(--color-white);
}

.social-links {
  /* @apply --layout-horizontal; */
  display: flex;
  flex-direction: row;
}

address {
  color: var(--color-white);
  font-style: normal;
  line-height: 1.4;
}

.bottom-bar {
  width: 100%;
  height: 80px;
  color: var(--color-white);
  background-color: var(--color-secondary-blue);
  /* @apply --layout-center-justified; */
  justify-content: center;
}

.bottom-bar a, a {
  text-decoration: none;
}

.bottom-bar ::slotted {
  /* @apply --layout-horizontal; */
  display: flex;
  flex-direction: row;
}

.bottom-bar ::slotted(.footer-extended) {
  background-color: initial !important;
  height: 100% !important;
}

.bottom-bar uvalib-liame, .bottom-bar a {
  color: var(--color-white);
  padding: 0 10px 0 10px;
  font-size: 1.1em;
}

.bottom-bar div.links {
  float: left;
  padding: 30px 0 0 28px;
}
.bottom-bar div.fdl {
  float: left;
  height: 80px;
}
.columns {
  position: relative;
  top: -23px;
}
div.fdl svg {
  height: 50%;
  padding-top: 20px;
  /*padding-right: 20px;*/
}

/* small */
@media screen and (max-width: 600px) {
  :host {
    padding: 30px 0 0 0;
  }
}

/* medium */
@media screen and (min-width: 600px) and (max-width: 992px) {
  :host {
    padding: 20px 0 0 0;
  }
}

/* large */
@media screen and (min-width: 992px) {
  :host {
    padding: 50px 0 0 0;
  }
  #top {
      /* @apply --layout-horizontal; */
      display: flex;
      flex-direction: row;
      padding-left: 90px;
      padding-bottom: 10px;
  }
  #top > .section {
      /* @apply --layout-flex-2; */
      flex: 2;
      /* @apply --layout-horizontal; */
      display: flex;
      flex-direction: row;
  }
  .section > div {
      /* @apply --layout-flex; */
      flex: 1;
      flex-basis: 0.000000001px;
  }
}



/* tablet */
:host([medium-screen]) #top {
    @apply --layout-horizontal;
    padding-left: 90px;
    padding-bottom: 10px;
}
:host([medium-screen]) #top > .section {
    @apply --layout-flex-2;
    @apply --layout-vertical;
}
:host([medium-screen]) .section > div {
    padding-bottom: 20px;
}
:host([medium-screen]) .column {
    padding-bottom: 10px;
}

/* mobile */
:host([small-screen]) #top {
    @apply --layout-vertical;
    padding-bottom: 10px;
}
:host([small-screen]) #top > .section {
    @apply --layout-flex-2;
    @apply --layout-vertical;
}
:host([small-screen]) .section > div {
    @apply --layout-flex;
    padding-bottom: 20px;
    @apply --layout-center;
    text-align: center;
}
:host([small-screen]) .column {
    padding-bottom: 10px;
}
:host([small-screen]) .social-links {
    @apply --layout-center-justified;
}

#top .section paper-icon-button:focus {
  outline: var(--color-accessibility-outline-dark-bg) dotted 3px;
  padding: .15em;
}
